In [144]:
# Importing necessary library

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [145]:
# loading the dataset to a pandas DataFrame

df = pd.read_csv("C:\\Users\\Rames\\Project\\movies.csv")
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy
10325,146878,Le Grand Restaurant (1966),Comedy
10326,148238,A Very Murray Christmas (2015),Comedy
10327,148626,The Big Short (2015),Drama
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [146]:
# 5 Rows of the Dataset

df.tail()

       movieId                                title                     genres
10324   146684        Cosmic Scrat-tastrophe (2015)  Animation|Children|Comedy
10325   146878           Le Grand Restaurant (1966)                     Comedy
10326   148238       A Very Murray Christmas (2015)                     Comedy
10327   148626                 The Big Short (2015)                      Drama
10328   149532  Marco Polo: One Hundred Eyes (2015)         (no genres listed)

In [147]:
# dataset information

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10329 entries, 0 to 10328
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  10329 non-null  int64
 1   title    10329 non-null  object
 2   genres   10329 non-null  object
dtypes: int64(1), object(2)
memory usage: 242.2+ KB

In [148]:
# checking the number of missing values in each columns

df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [149]:
#delete duplicates rows

df.drop_duplicates(inplace=True)
df.dropna(how='all',inplace=True)

In [150]:
#delete duplicates movieId column value

df.drop_duplicates("movieId",inplace=True)

In [151]:
# check outliers

df[df["genres"] == "(no genres listed)"].value_counts()

movieId  title                                genres
126929   Li'l Quinquin (    )                 (no genres listed)    1
135460   Pablo (2012)                         (no genres listed)    1
138863   The Big Broadcast of 1936 (1935)     (no genres listed)    1
141305   Round Trip to Heaven (1992)          (no genres listed)    1
141472   The 50 Year Argument (2014)          (no genres listed)    1
143709   The Take (2009)                      (no genres listed)    1
149532   Marco Polo: One Hundred Eyes (2015)  (no genres listed)    1
dtype: int64

In [152]:
#drop outliers

l = list(d)
x=[]
y=[]
for i in l:
    if i == "(no genres listed)":
        x.append(i)
    else:
        y.append(i)
print(x)

df2=df.set_index("genres")
df3 = df2.drop(x)
df3["genres"]=y
df4=df3.reset_index(drop=True)

['(no genres listed)', '(no genres listed)', '(no genres listed)', '(no genres listed)', '(no genres listed)', '(no genres listed)', '(no genres listed)']

In [153]:
# add column rating  and insert reandom rating

from numpy import random

x = random.choice([1,2,3,4,5], size=(10329))
df["rating"]=x
df

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1
1,2,Jumanji (1995),Adventure|Children|Fantasy,3
2,3,Grumpier Old Men (1995),Comedy|Romance,1
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,5
4,5,Father of the Bride Part II (1995),Comedy,2
...,...,...,...,...
10324,146684,Cosmic Scrat-tastrophe (2015),Animation|Children|Comedy,3
10325,146878,Le Grand Restaurant (1966),Comedy,1
10326,148238,A Very Murray Christmas (2015),Comedy,3
10327,148626,The Big Short (2015),Drama,2
10328,149532,Marco Polo: One Hundred Eyes (2015),(no genres listed),1

In [154]:
# converting the data into a matrix format

user_movie_matrix = df.pivot_table(index='title', values='rating',columns='movieId').fillna(0)
user_movie_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,144482,144656,144976,146344,146656,146684,146878,148238,148626,149532
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Hellboy': The Seeds of Creation (2004),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Round Midnight (1986),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Til There Was You (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The (1989)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [155]:
# Split the data into training and testing sets


X_train, X_test, y_train, y_test = train_test_split(user_movie_matrix, user_movie_matrix.values, test_size=0.25, random_state=42)

In [156]:
# Implement the K-nearest neighbors (KNN) algorithm

knn = KNeighborsRegressor(n_neighbors=3)

# Train the model using the training set

knn.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=3)

In [157]:
y_pred = knn.predict(X_test)
y_pred

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [158]:
# Predict the ratings for the testing set

y_pred = knn.predict(X_test)

# Calculate the mean absolute error and root mean squared error

mae = mean_absolute_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred)

print('Mean Absolute Error:', mae)
print('Root Mean Squared Error:', rmse)

Mean Absolute Error: 0.0003817097582487397
Root Mean Squared Error: 0.001067537454863821

# Testing model

In [242]:
def recommend_movie(rating):
    movieid = np.where(user_movie_matrix.values == rating)[0][0]
    distance, suggestion = knn.kneighbors(user_movie_matrix.iloc[movieid,:].values.reshape(1,-1), n_neighbors=1)
    
    for i in range(len(suggestion)):
      
        rating_movie = user_movie_matrix.index[suggestion[i]]
        for j in rating_movie:
            print("The recommended movie : ",j)
rating = int(input("Enter the Reating : "))
print()
recommend_movie(rating)

Enter the Reating : 4

The recommended movie :  Paperboy, The (2012)